@import './src/fonts.css';

body {
  margin: 10px;
  background-color: black;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvatica Neue";
}


.search-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 385px;
  min-height: 20%; /* Ensures minimum height */
  margin-bottom: 10px;
  background-color: #121212;
  flex: 1;
}

.lib-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  max-width: 385px;
  height: 90%; /* Ensures minimum height */
  margin-bottom: 10px;
  background-color: #121212;
  overflow-y: hidden;
  overflow-x: hidden;
} 
  
.library {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inicio:hover a, .inicio:hover #icons {
  color: #FFFFFF;
}

.procurar:hover a, .procurar:hover #icons {
  color: #FFFFFF;
}


.library a:hover, .library #lib-icon:hover {  /* Target hovered elements */
  color: #FFFFFF;  /* Change color to white on hover */
}

.library a {
  padding-top: 0;
}
#icons{
  transition: color 0.3s;
  color: #A7A7A7;
}

#list-icon {
  color: #A7A7A7;
}
#icons:hover {
  color: #FFFFFF;
}

.header-a {
  display: flex;
  align-items: center;
  gap: 25px;
  text-decoration: none;
  padding: 10px;
  padding-left: 0;
  color: #A7A7A7;
  transition: color 0.3s;
  font-size: 0.95rem;
  font-weight: 700;
}

.inicio a {
  padding-bottom: 15px;
}

.search-container .inicio a:first-child {
  padding-top: 0px;
}

.side-buttons button {
  font-family: inherit;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 9px 12px;
  background-color: #222222; 
  color: #FFFFFF;
  border: none;
  margin: 5px;
  transition: background-color 0.3s;
}

.side-buttons button:first-child {
  margin-left: -5px;
}

.side-buttons button:hover {
  background-color: #2A2A2A;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: background-color 0.3s;
  margin-left: -10px;
}
.search-icon:hover {
  background-color: #282828;
}


.list-icon span {
  font-family: inherit;
  color: #A7A7A7;
  align-self: center;
  padding-right: 5px;
  font-size: 0.85rem;
}

.list-icon {
  display: flex;
  align-items: center;
}

.list-icon:hover span, .list-icon:hover #list-icon {
  color: #FFFFFF;transform: scale(1.1);
}