@import './src/fonts.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  margin: 10px;
  margin-bottom: 0;
  background-color: black;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvatica Neue";
  overflow: hidden;
}

.page {
  display: grid;
  grid-template-columns: 415px 1fr;  
  grid-template-areas: 
      "side main";  
  height: 87vh;   
  width: 100vw;   
  overflow: hidden; 
  gap: 10px;      
}


.side {
  grid-area: side;        
  background-color: #121212; 
  color: #ffffff;           
  padding: 20px;
  overflow-y: auto;       
}


.music-content {
  grid-area: main;                          
  
  position: relative;
  background-color: #121212;
  padding: 0 0 40px 0;
  height: calc(100vh - 115px);
  overflow-y: scroll;
  overflow-x: hidden;
}



.play {
  position: fixed;   
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.search-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  height: 75px;
  margin-bottom: 10px;
  background-color: #121212;
  flex: 1;
}

.lib-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;


  height: calc(100vh - 216px);
  margin-bottom: 10px;
  background-color: #121212;
  padding-top: 15px;
  margin-bottom: 0;
  padding-bottom: 0;


}

.library {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  margin-right: 20px;
}

.library a {
  padding-top: 0;
}

.inicio:hover a,
.inicio:hover #icons {
  color: #FFFFFF;
}

.procurar:hover a,
.procurar:hover #icons {
  color: #FFFFFF;
}


.library a:hover,
.library #lib-icon:hover {
  color: #FFFFFF;
}


#icons {
  transition: color 0.3s;
  color: #A7A7A7;
}

#list-icon {
  color: #A7A7A7;
}

#icons:hover {
  color: #FFFFFF;
}

.header-a {
  display: flex;
  align-items: center;
  gap: 25px;
  text-decoration: none;
  padding: 10px;
  padding-left: 0;
  color: #A7A7A7;
  transition: color 0.3s;
  font-size: 0.90rem;
  font-weight: 700;
}

.lib-a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 10px;
  padding-left: 0;
  color: #A7A7A7;
  transition: color 0.3s;
  font-size: 0.90rem;
  font-weight: 700;
}

.inicio a {
  padding-bottom: 15px;
}

.search-container .inicio a:first-child {
  padding-top: 0px;
}

.side-buttons {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}

.side-buttons button {
  font-family: inherit;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 9px 12px;
  background-color: #222222;
  color: #FFFFFF;
  border: none;
  margin: 5px;
  transition: background-color 0.3s;
}

.side-buttons button:first-child {
  margin-left: -5px;
}

.side-buttons button:hover {
  background-color: #2A2A2A;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  margin-right: 20px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: background-color 0.3s;
  margin-left: -10px;
}

.search-icon:hover {
  background-color: #282828;
}


.list-icon span {
  font-family: inherit;
  color: #A7A7A7;
  align-self: center;
  padding-right: 5px;
  font-size: 0.85rem;
}

.list-icon {
  display: flex;
  align-items: center;
}

.list-icon:hover span,
.list-icon:hover #list-icon {
  color: #FFFFFF;
  transform: scale(1.1);
}

.playlist {
  overflow-y: scroll;

}

.list-play {
  padding-top: 10px;
}

::-webkit-scrollbar {
  width: 12px;

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {

  background: #A7A7A7;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #A7A7A7;
}

.playlist-container {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 10px;


}


.playlist-container:hover {
  background-color: #1A1A1A;
  border-radius: 5px;
}

.playlist-container .name {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.playlist-container span {
  font: inherit;
}

.play-name {
  align-self: flex-start;
}

.play-name span {

  color: #FFFFFF;
  font-size: 1rem;
}

.type span {
  font-size: 0.9rem;
  color: #A7A7A7;
}

.playlist-container .type {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A7A7A7;

}

.playlist-container .img {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  overflow: hidden;

}

.playlist-container .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.play-container {
  width: 100%;
  margin: 0;
  height: 12vh;
  background-color: #000000;
}

.play-container h1 {
  margin: 0;
  color: white;
  margin-top: 2px;
}



#less-icon,
#pro-icon {
  color: #BDADA8
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  
}

.icon-div,
.bell,
.people,
.pro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131313;
  border-radius: 50px;
  border: none;
  width: 35px;
  height: 35px;
}

.icon-div {
  background-color: #2C2C2C;
}

.bell:hover #pro-icon,
.people:hover #pro-icon,
.pro:hover #pro-icon {
  transform: scale(1.1);
  color: #FFFFFF;
}

.bell:hover,
.people:hover,
.pro:hover {
  transform: scale(1.1);
  color: #FFFFFF;
}

.profile-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 15px;
}

.categories {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.categories button {
  font-family: inherit;
  font-size: 0.75rem;
  border: none;
  border-radius: 20px;
  background-color: #2E2E2E;
  color: #FFFFFF;
  padding: 10px 15px;
  transition: background-color 0.3s;

}

.categories button:hover {
  background-color: #353535;
}

.fixed-container {
  width: calc(100vw - 450px);
  position: fixed;
  background-color: #121212;
  padding: 15px 0 15px 15px;
  z-index: 100;
  
}

.normal-container {
  margin-top: 150px;
}

.playlist-main {
  max-width: 100%;
  padding: 0 10px 0 15px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin: 0 25px 25 0;
  box-sizing: border-box;
  overflow: hidden;



}

.main-playlist-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C2C2C;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  transition: background-color 0.4s ease;
}

.main-playlist-container #name {
  font-family: inherit;
  color: #FFFFFF;
}


.main-playlist-container .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-playlist-container .img {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  overflow: hidden;

}

.main-playlist-container:hover {
  background-color: #636363;
}

.img-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding-left: 3px;
  padding-top: 2px;

}

.lib {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  background-color: #1FDF64;
  border-radius: 50px;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.75);
}

.lib:hover {
  transform: scale(1.1);
}

.card-span {
  margin-top: 70px;
  font-family: inherit;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 15px;
}

.card {
  position: static;
  height: 240px;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  margin: 20px 0 0 0;
  margin-left: 0;
  border-radius: 5px;
  padding: 10px 7px;
  
}

.card:hover {
  background-color: #171717;
}

.card-img {
  height: 90%;
  width: 95%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}



.card-play {
  background-color: #1FDF64;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  color: black;
  bottom: -50px; 
  right: 10px; 
  opacity: 0;
  transition: all 0.2s;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.75);
}

.card-img.hovered .card-play {
  bottom: 10px; 
  opacity: 1;
  
}


#play-icon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding-left: 2px;
  padding-top: 13px;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.card-name {
  font-size: 1rem;
  color: #FFFFFF;
}

.artists {
  font-size: 0.8rem;
  color: #A7A7A7;
}

.text-card {
  padding-top: 10px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cards {
  display: flex;
  gap: 0;
  padding-left: 2px;
}